.side-section {
    width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.side-section .card-heading {
    color: var(--red);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5rem;
}

.side-section .card-heading h2{
    display: inline;
    border-bottom: 2px solid var(--red);
}

.side-section .card-grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .side-section .card-grid {
        grid-template-columns: 1fr;
    }
    .main-section {
        width: 80%;
    }
    .side-section {
        width: 80%;
    }
    
}

@media screen and (max-width: 480px) {
    .side-section .card-grid {
        grid-template-columns: 1fr;
    }
    .main-section {
        width: 80%;
    }
    .side-section {
        width: 80%;
    }
}

@media screen and (max-width: 320px) {
    .side-section .card-grid {
        grid-template-columns: 1fr;
    }
    .main-section {
        width: 80%;
    }
    .side-section {
        width: 80%;
    }
}