.rating-card {
    background-color: var(--yellow);
    padding: 2rem;
    border-radius: 1rem;
    color: var(--dark-bg);
}

.rating-card:hover {
    background-color: var(--dark-yellow);
}

.rating-card h3{
    margin: 0;
    margin-bottom: 1rem;
}

.rating-section {
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.rating-empty {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--white);
}   

.rating-full {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--dark-bg);
}