.home{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dark .home {
    color: var(--white);
}

.dark .subtitle{
    color: var(--dark-yellow);
}

.light .home {
    color: var(--slate);
}

.light .subtitle{
    color: var(--red);
}

.light .mark{
    background-color: var(--red);
    color: var(--slate);
}

.dark .mark{
    background-color: var(--dark-yellow);
    color: var(--slate);
}