.work-grid {
    grid-template-columns: 15% 1fr;
    gap: 1.2rem;
}

.sidebar {
    display: inline;
    position: sticky;
    top: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--red) transparent;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    background: #000a41;
    margin: 0.25rem;
}

.sidebar ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: .75rem;
}

.sidebar ul li a.item{
    text-decoration: none;
    color: var(--white);
}

.sidebar ul li a.item:hover{
    cursor: pointer;
    background: var(--red);
    color: var(--dark-bg);
}

.sidebar ul li a.active{
    background: var(--red);
    color: var(--dark-bg);
    text-decoration: none;
}

.button-fixed {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}


@media screen and (max-width: 425px) {
    .work-grid {
        grid-template-columns: 1fr;
    }
    
}