@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.masthead{
    height: 100vh;
    background: url("../Images/colorphoto.svg") no-repeat top center fixed;
    background-size: cover;
}

.navbar{
    padding: 0;
}

.navbar.nav-bg .nav-link{
    padding: 1rem;
    color: #ffffff;
}

.navbar.nav-bg .navbar-toggler{
    border-color: #ffffff;
}

.navbar.nav-bg .nav-link:hover{
    color: #ffffff;
}

.navbar.nav-bg{
    background-color: #747474;
}

.navbar.nav-bg .active{
    background-color: #ffa88d;
}

.about.container-fluid{
    color: #ef5350;
}

.about .link-primary{
    color: #ef5350;
}

.about .link-primary:hover{
    color: #ff0500;
}

.work.container-fluid{
    color: #e91e63;  
}

.contact.container-fluid{
    color: #f44336;  
}

.prime-logo {
    color: #fff;
    font-size: 8.5rem;
    margin: 0;
    text-align: center;
    transform: translateY(-50%);
    width: 100%;
    text-shadow: 0 1px 0 #fb8c00, 0 2px 0 #fb8c00, 0 3px 0 #ffa726, 0 4px 0 #ff9800, 0 5px 0 #ff9800, 0 6px 0 #f57c00, 0 7px 0 #f57c00, 0 8px 0 #ff9800, 0 0 5px rgb(230 185 139 / 0%), 0 -1px 3px rgb(234 195 147 / 20%), 0 9px 9px rgb(230 185 139 / 30%), 0 12px 12px rgb(230 185 139 / 30%), 0 15px 15px rgb(230 198 139 / 30%);
}

.prime-text {
    color: #ff8a65;
    text-shadow: 4px 2px 3px #000000;
    font-size: 4rem;
    margin-bottom: .5em;
}

.home .btn.btn-primary {
    background-color: #ff8a65;
    border-color: #ff8a65;
    color: #ffffff;
}

.home .btn.btn-outline-primary:hover {
    background-color: #ff8a65;
    color: #fff;
}

.about .btn.btn-outline-primary {
    border-color: #ef5350;
    color: #ef5350;
}

.about .btn.btn-outline-primary:hover {
    background-color: #ef5350;
    color: #fff;
}

.about .list-group-item {
    border: 1px solid rgb(239 83 80 / 38%);
    color: #ef5350;
}

.about span.rounded-pill {
    background-color: #ef5350!important;
    box-shadow: 5px 1px 6px 1px rgba(114, 114, 114, 0.65);
}

.about .img-thumbnail {
    border-color: #ef5350;
}

.work .card-parent{
    border: 3px solid #e91e63;
    border-radius: 3px;
    margin-bottom: 3rem;
}

.work .card-child{
    background: #fff;
    padding: 1.2rem;
}

.work .card-child a{
    display: block;
}

.work .card-child a:hover img{
    opacity: 0.75;
}

.contact .card a{
    color: #f44336;
}

.contact .card a:hover{
    color: #ba1206;
}

.contact .card-body{
    border: 3px solid #f44336;
}